<form action="/tasks" method="post">
  <%#= hidden_field_tag :authenticity_token, form_authenticy_token %>
  <label for="title">Title</label>
  <input type="text" name="restaurant[title]">
  <label for="details">Details</label>
  <input type="text" name="restaurant[details]">
  <input type="submit">
</form>
